body {
    background-color: rgb(59, 59, 59);
    margin: 10px;
    box-sizing: border-box;
}

h1 {
    text-align: center;
    color: white;
    margin: 10px;
    font-size: 45px;
}

.container {
    display: flex;
    flex-direction: column;
    justify-self: center;
    gap: 25px;
    width: 450px;
    height: 450px;
    padding: 30px;
    box-shadow: 0px 0px 1px 1px;
    border-radius: 20px;
}

input {
    height: 24px;
    font-size: 14px;
    padding: 0px 0px 0px 10px;
    background-color: rgba(240, 248, 255, 0);
    border-radius: 20px;
    border: 1px solid white;
    color: white;
}

.endereco {
    display: flex;
    gap: 10px;
}

.endereco input {
    width: 48%;
}

button {
    border-radius: 20px;
    border: 1px solid white;
    background-color: rgba(255, 255, 255, 0);
    color: white;
    transition: ease 0.3s;
}

a {
    text-decoration: none;
    text-align: right;
    color: white;
    transition: ease 0.3s;
}

.containerperfil {
    display: flex;
    flex-direction: column;
    justify-self: center;
    gap: 20px;
    max-width: 500px;
    height: auto;
    margin: 20px auto;
    padding: 20px;
    background-color: rgba(60, 60, 60, 0.7);
    border-radius: 10px;
    box-shadow: 0 0px 1px 1px rgb(255, 255, 255);
    color: white;
}

.containerperfil h1 {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
}

.containerperfil label {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 5px;
    display: block;
}

.containerperfil span {
    font-size: 14px;
    color: white;
}

.containerperfil label span {
    margin-left: 10px;
}

.containerperfil a {
    display: block;
    margin-top: 20px;
    text-align: center;
    font-size: 16px;
    color: #fff;
    text-decoration: none;
    padding: 10px;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0);
    transition: background-color 0.3s;
}

.perfil {
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 8px;
    padding: 15px;
    margin-bottom: 15px;
    box-shadow: 0 0px 1px 1px rgba(255, 255, 255, 0.3);
    border: 1px solid #fff;
}

.perfil+.perfil {
    margin-top: 20px;
}

.perfil label {
    font-weight: normal;
    font-size: 14px;
    margin: 5px 0;
}


button:hover {
    background-color: white;
    color: black;
}

a:hover {
    opacity: 0.6;
}

.containerperfil a:hover {
    background-color: white;
    color: black;
}